{
  "extends": [
    "plugin:@wordpress/eslint-plugin/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile" : "false",
    "babelOptions": {
      "configFile": "./.babelrc"
    }
  },
  "rules": {
    "camelcase": "off",
    "jsdoc/check-tag-names": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/interactive-supports-focus": "off",
    "no-console": "off",
    "no-duplicate-imports": "off",
    "no-shadow": "off",
    "no-undef": "off",
    "no-unused-expressions": "off",
    "no-unused-vars": "off",
    "react/jsx-no-target-blank": "off"
  }
}
